In [1]:
import pandas as pd

# Đọc dữ liệu

In [3]:
data_comment = pd.read_csv("data\comments.csv")

In [4]:
data_comment

,product_id,comment_id,title,thank_count,customer_id,rating,content
0,74021317,12559756,Cực kì hài lòng,313,22051463,5,"Có những người bước đến, họ lấp đầy hạnh phúc ..."
1,74021317,16979365,Cực kì hài lòng,6,27791831,5,"Thấy nhiều bạn chê tiki gói hàng quá, may sao ..."
2,74021317,14069617,Cực kì hài lòng,25,17748750,5,"Bìa cực xinh, tiki giao hàng nhanh, sách không..."
3,74021317,8569824,Cực kì hài lòng,57,410797,5,"Sách lúc nhận hình thức rất ổn, không cong vên..."
4,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
...,...,...,...,...,...,...,...
141276,58971672,16391630,Cực kì hài lòng,0,6625296,5,NaN
141277,58971672,12767000,Cực kì hài lòng,0,16435374,5,Tuyệt vời lắm
141278,58971672,16322348,Cực kì hài lòng,0,10549708,5,NaN
141279,58971672,16288080,Cực kì hài lòng,0,14487833,5,NaN
141280,58971672,16204880,Cực kì hài lòng,0,27440114,5,NaN

# Xử lý dữ liệu

In [5]:
data_comment.rating.value_counts()

5    114514
4     14295
3      5276
1      4495
2      2701
Name: rating, dtype: int64

Có thể thấy cột rating không có bất thường gì cả.

# Kiểm tra cột comment_id xem cách shop có sử dụng một số tool gian lận nhầm đẩy tương tác lên không.

In [6]:
data_comment.comment_id.duplicated().sum()

19889

In [7]:
data_comment.duplicated(subset=["product_id","comment_id"]).sum()

19889

In [8]:
data_comment.duplicated(subset=["product_id","comment_id","content"]).sum()

19889

In [9]:
data_comment[data_comment.duplicated(subset= ["product_id","comment_id","content"])]

,product_id,comment_id,title,thank_count,customer_id,rating,content
10,74021317,12559756,Cực kì hài lòng,313,22051463,5,"Có những người bước đến, họ lấp đầy hạnh phúc ..."
11,74021317,16979365,Cực kì hài lòng,6,27791831,5,"Thấy nhiều bạn chê tiki gói hàng quá, may sao ..."
12,74021317,14069617,Cực kì hài lòng,25,17748750,5,"Bìa cực xinh, tiki giao hàng nhanh, sách không..."
13,74021317,8569824,Cực kì hài lòng,57,410797,5,"Sách lúc nhận hình thức rất ổn, không cong vên..."
14,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
...,...,...,...,...,...,...,...
141196,58971672,11867122,Cực kì hài lòng,0,21639519,5,Sách thì ok mà mình mua ngay lúc chỉ thị 16 nê...
141197,58971672,15205826,Hài lòng,0,19708575,3,Sách bị móp méo tùm lum luôn ạ 3 sao cho sách ...
141198,58971672,15606228,Hài lòng,0,20495249,4,sách bị rách hơi thất vọng\nchắc do vận chuyển...
141199,58971672,15105347,Cực kì hài lòng,0,8337543,5,"câu chuyện ý nghĩa\nShip nhanh, chuyên nghiệp\..."
141200,58971672,17429033,Bình thường,0,27539097,3,"Bọc sách hư luôn cả sách, nhìn chán chả muốn đọc"

In [10]:
data_comment[data_comment.duplicated(subset= ["product_id","comment_id","content", "customer_id"])]

,product_id,comment_id,title,thank_count,customer_id,rating,content
10,74021317,12559756,Cực kì hài lòng,313,22051463,5,"Có những người bước đến, họ lấp đầy hạnh phúc ..."
11,74021317,16979365,Cực kì hài lòng,6,27791831,5,"Thấy nhiều bạn chê tiki gói hàng quá, may sao ..."
12,74021317,14069617,Cực kì hài lòng,25,17748750,5,"Bìa cực xinh, tiki giao hàng nhanh, sách không..."
13,74021317,8569824,Cực kì hài lòng,57,410797,5,"Sách lúc nhận hình thức rất ổn, không cong vên..."
14,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
...,...,...,...,...,...,...,...
141196,58971672,11867122,Cực kì hài lòng,0,21639519,5,Sách thì ok mà mình mua ngay lúc chỉ thị 16 nê...
141197,58971672,15205826,Hài lòng,0,19708575,3,Sách bị móp méo tùm lum luôn ạ 3 sao cho sách ...
141198,58971672,15606228,Hài lòng,0,20495249,4,sách bị rách hơi thất vọng\nchắc do vận chuyển...
141199,58971672,15105347,Cực kì hài lòng,0,8337543,5,"câu chuyện ý nghĩa\nShip nhanh, chuyên nghiệp\..."
141200,58971672,17429033,Bình thường,0,27539097,3,"Bọc sách hư luôn cả sách, nhìn chán chả muốn đọc"

In [11]:
data_comment[(data_comment.product_id == 74021317) & (data_comment.comment_id == 18368714)]

,product_id,comment_id,title,thank_count,customer_id,rating,content
4,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
14,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
104,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
114,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...

In [12]:
data_comment.drop_duplicates(inplace= True)

In [13]:
data_comment

,product_id,comment_id,title,thank_count,customer_id,rating,content
0,74021317,12559756,Cực kì hài lòng,313,22051463,5,"Có những người bước đến, họ lấp đầy hạnh phúc ..."
1,74021317,16979365,Cực kì hài lòng,6,27791831,5,"Thấy nhiều bạn chê tiki gói hàng quá, may sao ..."
2,74021317,14069617,Cực kì hài lòng,25,17748750,5,"Bìa cực xinh, tiki giao hàng nhanh, sách không..."
3,74021317,8569824,Cực kì hài lòng,57,410797,5,"Sách lúc nhận hình thức rất ổn, không cong vên..."
4,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
...,...,...,...,...,...,...,...
141276,58971672,16391630,Cực kì hài lòng,0,6625296,5,NaN
141277,58971672,12767000,Cực kì hài lòng,0,16435374,5,Tuyệt vời lắm
141278,58971672,16322348,Cực kì hài lòng,0,10549708,5,NaN
141279,58971672,16288080,Cực kì hài lòng,0,14487833,5,NaN
141280,58971672,16204880,Cực kì hài lòng,0,27440114,5,NaN

In [14]:
total_rating = data_comment.groupby('product_id')['rating'].sum()

comment_count = data_comment.groupby('product_id')['comment_id'].count()

average_rating = total_rating / comment_count

average_rating= round(average_rating,1)

In [15]:
new_df = pd.DataFrame({'product_id': average_rating.index, 'average_rating': average_rating.values})

In [16]:
new_df.head()

   product_id  average_rating
0      335337             4.5
1      377644             4.5
2      378448             4.1
3      381234             4.4
4      391045             4.7

In [17]:
new_df.to_csv("new_rating.csv", index= False)